/*
    Author: Jonathan Kimber
    Date:   September 2017

    This is the style sheet for my soon-to-be
    awesome website!
 */

/* body {
    background-color: lightblue;
    font-family: Sans-Serif;
    text-align: center;
    margin: 20em;
} */

.site {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "navbar"
                         "main-content"
                         "contact-info";
}

.navbar {
    text-align: center;
}

.main-content {
    text-align: center;
}

.contact-info {
    text-align: center;
}